<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
    <d class="container">
        <!-- Navbar brand -->
        <span class="navbar-brand" href="#">Toolit</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>

                <!-- Dropdown -->
            </ul>
            <!-- Links -->
        </div>
        {{!-- <ion-icon name="cart" size="large"></ion-icon> --}}

        {{!-- <div class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Shopping Cart</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div id="payPal"></div>
            </div>
        </div> --}}

        <!-- Collapsible content -->

</nav>
<br />
<br />
<br />
<!--/.Navbar-->

<div class="container">
    <div class="row">
        {{#each product}}
        {{>resultcard/products}}
        {{/each}}

    </div>
</div>
<script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script
    src="https://www.paypal.com/sdk/js?client-id=AQlw6Mxhef3Fd9rV83uiHMRN7NyypsEjW77hdgBnzORyatQyrJqzByGELxEWqeRsIjLVv-cYhAJ1U79l"></script>
<script>
    paypal
        .Buttons({
            createOrder: function (data, actions) {
                // Set up the transaction
                return actions.order.create({
                    purchase_units: [
                        {
                            amount: {
                                value: "25.00"
                            }
                        }
                    ]
                });
            }
        })
        .render("#payPal");
</script>